{% extends "base.html" %}

{% block content %}

<h1>{{ project['title'] }}</h1>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>Stats</h2>
        <ul>
            <li>Average Above Threshold Percentage: {{ "%.2f"|format(above_threshold_pct)|float }}%</li>
            <li>Unposted Above Threshold Stories: {{ "{:,}".format(unposted_above_story_count) }}</li>
            <li>Posted Above Threshold Stories: {{ "{:,}".format(posted_above_story_count) }}</li>
            <li>Below Threshold Stories: {{ "{:,}".format(below_story_count) }}</li>
        </ul>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>Recent Story Volume (by published_date)</h2>
        <div id="discovery-history"></div>
        <div id="published-over-time"></div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-12">
        <h2>Recent Story Volume (by processed_date)</h2>
        <div id="processed-over-time"></div>
        <div id="posted-over-time"></div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-12">
        <h2>Latest Stories</h2>
        <h4>Above Threshold</h4>
        {% with stories=stories_above %}
            {% include '_simple_story_table.html' %}
        {% endwith %}
        <h4>Below Threshold</h4>
        {% with stories=stories_below %}
            {% include '_simple_story_table.html' %}
        {% endwith %}
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>Full Configuration</h2>
        <pre>{{ project | as_pretty_json }}</pre>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
renderStacked('/projects/{{ project['id'] }}/processed-by-day', '#processed-over-time', 'Story Classification Results by Date Processed');
// renderStacked('/projects/{{ project['id'] }}/posted-by-day', '#posted-over-time', 'Above Threshold Stories by Status and Date Processed');
renderStacked('/projects/{{ project['id'] }}/published-by-day', '#published-over-time', 'Story Classification Results by Detected Date of Publication');
renderStacked({{ ingest_data | safe }}, '#discovery-history', 'Discovered Stories by Platform');
{% endblock %}
