{% extends "base.html" %}

{% block content %}

<h1>{{ project['title'] }}</h1>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>Stats</h2>
        <ul>
            <li>Average Above Threshold Percentage: {{ "%.2f"|format(100*(unposted_above_story_count + posted_above_story_count) / below_story_count)|float }}%</li>
            <li>Unposted Above Threshold Stories: {{ "{:,}".format(unposted_above_story_count) }}</li>
            <li>Posted Above Threshold Stories: {{ "{:,}".format(posted_above_story_count) }}</li>
            <li>Below Threshold Stories: {{ "{:,}".format(below_story_count) }}</li>
        </ul>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>Recent Story Volume (by processed_date)</h2>
        <div id="stories-over-time"></div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-12">
        <h2>Latest Stories</h2>
        <h4>Above Threshold</h4>
        {% with stories=stories_above %}
            {% include '_story_table.html' %}
        {% endwith %}
        <h4>Below Threshold</h4>
        {% with stories=stories_below %}
            {% include '_story_table.html' %}
        {% endwith %}
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-12">
        <h2>Full Configuration</h2>
        <pre>{{ project | as_pretty_json }}</pre>
    </div>
</div>

{% endblock %}

{% block page_scripts %}

// draw a stacked bar chart of above/below threshold story volume by day
vl.markBar({ tooltip: true })
.width(950)
.data({{stories_by_day_data | safe}})
.encode(
  vl.x().fieldT("date").axis({'format': "%m-%d"}),
  vl.y().fieldQ("count"),
  vl.color().fieldN("type"),
  vl.tooltip([vl.fieldT("date"), vl.fieldN("type"), vl.fieldQ("count")])
)
.render()
.then(viewElement => {
  document.getElementById('stories-over-time').appendChild(viewElement);
});

{% endblock %}
